body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.flat-button {
    background-color: #fc6e51;
    border: 1px solid #fc6e51;
    color: #ffffff;
    padding: 15px 30px 15px 30px;
    cursor: pointer;
    font-weight: bold;
}
.flat-button:hover {
    background-color: blue;
    border: 1px solid blue;
}
.flat-button:active {
    background-color: green;
    border: 1px solid green;
}
.rounded-button {
    background-color: #0a0a23;
    color: #ffffff;
    border: 5px solid #5900a6;
    padding: 15px 30px 15px 30px;
    border-radius: 20px;
    cursor: pointer;
}
.rounded-button:hover {
    background-color: #5900a6;
    border: 5px solid #0a0a23;
}